
<p class="index-question">{{question.question}} </p>
<p class="index-author">{{question.author}}  </p>
{{update-question question=question update="update"}}
<button {{action 'delete' question}}>Delete</button>
