#belownav{
  padding-top: 70px;
}

.container{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

#question-box{
  padding-left: 30px;
  padding-right: 30px;
  border:1px;
  border-color: black;
}

.navbar-header{
  color: black;
}

img{ max-height: 300px;
     width: auto;

}

.author{
  font-weight:bold;
}
