<div id="belownav">
  <div class="container-fluid">
    <div class="container-fluid">
<h1> カイトウ 解答! </h1>

Come and ask any questions on the crowdsourcing platform!
<br>
<br>

   </div>

  <div id="question-box" class="container-fluid">
  {{#each model.questions as |question|}}
     {{question-tile question=question}}
  {{/each}}

  <br>
  {{new-question saveQuestion2="saveQuestion3"}}
 </div>

 <!-- All answers -->

 <h2> All Answers </h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.content}}  <br>
      - by {{review.author}}</li>
  {{/each}}
</ul>



 </div>
 </div>
